# Pycarm mappái
/.idea/
/.venv/
/.qudo

# Egyéb
/Other_files
Other_files/list_files.py

# Build
/build
/dist

/scripts/opening_book/lichess_elite_database_2021-10.pgn
/scripts/opening_book/stockfish.exe
